* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
    position: relative;
    display: flex;
    align-items: center;
}

.logo {
    z-index: 1;
}

.title {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

nav {
    padding-top: 20px;
    box-sizing: border-box;
    width: 100%;
}

.nav-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-bottom: 20px;
}

.nav-menu li {
    flex: 1;
    text-align: center;
    border: 1px solid #4dd2ff;
}

.nav-menu a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    font-weight: bold;
    flex: 1;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.dropdown-menu li a {
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Main Content */

.hero {
    background-image: url("../images/blockchain.jpg");
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.hero p {
    font-size: 20px;
    font-weight: bold;
}

.course-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.course-gallery img {
    flex: 1;
    min-width: 200px;
    padding: 40px 20px;
    height: auto;
    display: block;
    border: 1px solid #4dd2ff;
}

/* Footer */

footer {
    background-color: #4dd2ff;
    text-align: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.link-column {
    flex: 1;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.link-column li {
    margin: 8px 0;
}

.link-column a {
    color: #000;
}

.contact {
    text-align: center;
}

/* Table */

table {
    text-align: center;
    width: 100%;
    border-spacing: 10px;
}

th {
    font-size: 18px;
}

.course-images {
    width: 60%;
    height: 50%
}

.topic {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

summary {
    font-size: 16px;
    font-weight: bold;
}

/* Form */

form {
    text-align: center;
    border: 2px solid;
    border-color: #4dd2ff;
    margin-left: 100px;
    margin-right: 100px;
}

input {
    border-color: #4dd2ff;
    background-color: white;
}

textarea {
    border-color: #4dd2ff;
}
